mixin button(data)
	- data = data || {}
	- color = data.color || 'yellow'
	- border = data.border || false
	- hoverColor = data.hoverColor || false
	- size = data.size || 'medium'
	- style = data.style || false
	- tag = data.tag || 'button'
	- href = data.href || false

	+b(tag).button(
		class=`button_color_${color}`
		class=`button_size_${size}`
		class=`button_hoverColor_${hoverColor}`
		class=`button_border_${border}`
		class=`button_style_${style}`
		href=href
	)&attributes(attributes)
		block
