mixin button(data)
	- data = data || {}
	- color = data.color || 'yellow'
	- border = data.border || null
	- hoverColor = data.hoverColor || null
	- size = data.size || 'medium'
	- style = data.style || null
	- tag = data.tag || 'button'
	- href = data.href || null

	#{tag}.button(
		class=`button_color_${color}`
		class=`button_size_${size}`
		class=hoverColor && `button_hoverColor_${hoverColor}`
		class=border && `button_border_${border}`
		class=style && `button_style_${style}`
		href=href
	)&attributes(attributes)
		block
