mixin aside-menu()
	+b.aside-menu&attributes(attributes)
		+e.title Оформление лицензий
		+e('ul').link-list
			+e('li').link-item
				+e('a').menu-link(href=jv0) Охранно пожарная лицензия

			+e('li').link-item
				+e('a').menu-link_active(href=jv0) Лицензия по монтажу средств пожарной безопасности

			+e('li').link-item
				+e('a').menu-link(href=jv0) Охранно пожарная лицензия

			+e('li').link-item
				+e('a').menu-link(href=jv0) Лицензия по монтажу средств пожарной безопасности

			+e('li').link-item
				+e('a').menu-link(href=jv0) Пожарная лицензия МЧС

			+e('li').link-item
				+e('a').menu-link(href=jv0) Допуск СРО

			+e('li').link-item
				+e('a').menu-link(href=jv0) Лицензия Связи

			+e('li').link-item
				+e('a').menu-link(href=jv0) Аккредитация МЧС


		+e.title Регистрация юридических лиц
		+e('ul').link-list
			+e('li').link-item
				+e('a').link(href=jv0) Некоммерческие организации

			+e('li').link-item
				+e('a').link(href=jv0) Лицензия по монтажу средств пожарной безопасности


		+e.title Юридические услуги
		+e('ul').link-list
			+e('li').link-item
				+e('a').link(href=jv0) Юридические услуги

			+e('li').link-item
				+e('a').link(href=jv0) Лицензия по монтажу средств пожарной безопасности

			+e('li').link-item
				+e('a').link(href=jv0) Юридические услуги
