mixin pages-nav()
	+b('nav').pages-nav&attributes(attributes)
		.row.center-xs.middle-xs
			+e.link(href=jv0) 1
			+e.link(href=jv0) 2
			+e.link(href=jv0) 3
			+e.link_active(href=jv0) 4
			+e('span').dots
			+e.link(href=jv0) 15

